<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Document</title>
</head>
<body>
    <h2>"Obrigado pela atenção!!"</h2>
    <p>"todos os direitos reservados"</p>
    <div id="imagens">
<a href="intagram">
    <img class="imagem" src="../acets/imagens/a2.png" alt="icone instagram" 
    >
    
</a>
<a href="watsap">
    <img class="imagem" src="../acets/imagens/a3.png" alt="icone whatsap"width="90%"
   >
</a>
    </div>
</body>
</html>