<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Document</title>
</head>
<body>
    <div id="imagen">
        <img id="imagens" src="../acets/imagens/p1.png" alt="pizza">
</div>
<div id="logo">
    <img id="img-1" src="../acets/imagens/a1.png" alt="logo da pizzaria">
</div>
<div id="logos">
    <a href="instagram">
    <img class="ima" id="instagram" src="../acets/imagens/i1.png" alt="instagram"></a>
    <a href="telegram">
    <img class="ima"  id="telegram" src="../acets/imagens/t1.png" alt="telegram"></a>
    <a href="whatssap">
    <img class="ima" id="whatssap" src="../acets/imagens/w1.png" alt="whatssap"></a>
</div>
</body>
</html>
